<div id="leftMenu" class="sideBar" :class="fncIsMenuAdmin && fncIsMenuAdmin.isAssigned===1 ? 'hidden': ''">
  <div class="LeftMainSaid">

    <div @click="toggleSideBar" class="expSide">
      <p @click="pinSideBar" class="pin">
        <i class="fa fa-thumb-tack"></i>
      </p>
      <button id="nav-icon3" style="float: right">
        <i class="fa fa-caret-left" aria-hidden="true"></i>
        <i class="fa fa-bars" aria-hidden="true"></i>
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </button>
    </div>
    <div class="leftMenuScroll">
      <!-- <li title="Home" @click="switchClient">
        <i class="fa fa-bar-chart"></i>
        <span>Home</span>
      </li> 
      <li title="" @click="switchClient">
        <i class="fa fa-calendar"></i>
        <span>Home</span>
      </li>-->
      <ul class="mainResMenus" v-if="parentModuleName === 'Reservations'">
        <!-- <li title="Dashboard" class="decibelIcon">
          <i class="fas fa-bar-chart"></i>
          <span>Dashboard</span>
        </li> -->
        <li @click="redirectToPaymentReports" :disabled="(fncIsPaymentReport && (fncIsPaymentReport.isAssigned === -1 && fncIsPaymentReport.functionState === 2)) && (fncIsSalesReport && (fncIsSalesReport.isAssigned === -1 && fncIsSalesReport.functionState === 2))"
          v-if="(fncIsPaymentReport && (fncIsPaymentReport.isAssigned === 1 || (fncIsPaymentReport.isAssigned === -1 && fncIsPaymentReport.functionState === 2))) || (fncIsSalesReport && (fncIsSalesReport.isAssigned === 1 || (fncIsSalesReport.isAssigned === -1 && fncIsSalesReport.functionState === 2)))"
          :class="{ active: submenuListName == 'PaymentReports' }" title="Dashboard">
          <a>
            <i class="fa dashboard-icon-left"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <!-- <li @click="redirectToDashboard" :class="{ active: submenuListName == 'Dashboard' }"
        title="Dashboard">
        <a>
            <i class="fa dashboard-icon-left"></i>
          <span>Payment Reports</span>
        </a>
      </li> -->

        <li title="Calendar" @click="redirectToTapeChart"
          :disabled="fncIsReservationSelect && (fncIsReservationSelect.isAssigned === -1 && fncIsReservationSelect.functionState === 2)"
          v-if="fncIsReservationSelect && (fncIsReservationSelect.isAssigned === 1 || (fncIsReservationSelect.isAssigned === -1 && fncIsReservationSelect.functionState === 2))"
          :class="{ active: submenuListName === 'CalendarView' }">
          <i class="fas fa-calendar-alt" style="margin-left: 3px;"></i>
          <span>Calendar</span>
        </li>


        <!-- <li title="Calender" @click="redirectToTapeChartGrid" :class="{ active: submenuListName === 'TapeChartGrid' }">
          <i class="far fa-calendar-alt"></i>
          <span>Calendar</span>
        </li> -->
        <!-- <li title="Calender" @click="redirectToTapeChart" :class="{ active: submenuListName === 'TapeChart' }">
          <i class="far fa-calendar-alt"></i>
          <span>Calendar</span>
        </li> -->
        <li title="Reservation List" @click="redirectToReservationsList" :class="{ active: submenuListName === 'Reservations' }"
          :disabled="fncIsReservationSelect && (fncIsReservationSelect.isAssigned === -1 && fncIsReservationSelect.functionState === 2)"
          v-if="fncIsReservationSelect && (fncIsReservationSelect.isAssigned === 1 || (fncIsReservationSelect.isAssigned === -1 && fncIsReservationSelect.functionState === 2))">
          <!-- <li title="Reservation List" @click="redirectToReservationsList" :class="fncIsMenuReservations && fncMenuReservations.isAssigned === 1 ? 'disabled': ''"  > -->
          <i class="fas fa-bed"></i>
          <span>Reservations List</span>
        </li>
        <li @click="redirectToHouseKeepingStatus" v-if="fncIsHousekeepingView" :class="{ active: submenuListName == 'HouseKeepingStatus' }"
          title="Housekeeping">
          <a>
            <i class="fa broomStick"></i>
            <span>Housekeeping</span>
          </a>
        </li>
        <li @click="redirectToGuestProfile" :class="{ active: submenuListName == 'GuestProfileList' }" title="Account Profiles">
          <a>
            <i class="fas fa-users" style="font-size: 22px; margin-left: -4px;"></i>
            <span>Account Profiles</span>
          </a>
        </li>
        
       <li @click="redirectToMessageInbox"  :class="{ active: submenuListName == 'MessageInbox' }"
       title="Message Inbox">
       <a>
        
         <i class="fas fa-comments-alt"></i>
         <span>Message Inbox</span>
       </a>
      </li>
      
      <li @click="redirectToEmailServiceStatus"  :class="{ active: submenuListName == 'TempoEmailServiceStatus' }"
      title="Tempo Email Service" class="emailServiceIcon">
      <a>
       
        <i class="fa"></i>
        <span>Tempo Email Service</span>
      </a>
     </li>




        <!-- <li @click="redirectToBE" :class="{ active: submenuListName == 'BE' }" title="BE">
          <a>
            <i class="fa">BE</i>
            <span>BE</span>
          </a>
        </li> -->
        <!-- <li @click="redirectToRoomInventory" :class="{ active: submenuListName == 'RoomInventoryDetail' }" title="Close Outs">
          <a>
           
            <svg  viewBox="0 0 512 512" ><path d="m437.730469 301h-60.957031l6.15625 60h-253.859376l6.15625-60h-60.945312l-24.242188 181h-50.039062v30h151v-30h-40.386719l9.230469-61h272.3125l9.230469 61h-40.386719v30h151v-30h-50.035156zm0 0" fill="#5b6a98"/><path d="m426.734375 121h-56.464844l-74.992187 150h56.457031zm0 0" fill="#5b6a98"/><path d="m85.277344 271h56.457031l75-150h-56.460937zm0 0" fill="#5b6a98"/><path d="m175.28125 271h86.453125l74.988281-150h-86.441406zm0 0" fill="#5b6a98"/><path d="m385.28125 271h126.71875v-150h-51.71875zm0 0" fill="#5b6a98"/><path d="m126.730469 121h-126.730469v150h51.734375zm0 0" fill="#5b6a98"/><path d="m106 0c-24.851562 0-45 20.148438-45 45v46h90v-46c0-24.851562-20.148438-45-45-45zm0 0" fill="#5b6a98"/><path d="m451 45c0-24.851562-20.148438-45-45-45s-45 20.148438-45 45v46h90zm0 0" fill="#5b6a98"/></svg>
            <span>Close Outs</span>
          </a>
        </li>         -->
      </ul>

      <!-- <ul :class="{ active: isActiveGroupIcons }" >  -->
      <!-- <ul v-show ="isActiveGroupIcons"> -->
      <!-- <ul :class="{groupIcons:isActiveGroupIcons}"> -->
      <ul v-if="parentModuleName === 'Admin'">
        <!-- <li @click="redirectToClient" >
          <a><i class="fa clientIcon"></i></a>
          <span>Client</span>
      </li>
      <li title="Property" @click="redirectToProperty">
          <i class="fa fa-building" aria-hidden="true"></i>
          <span>Property</span>
        </li>
      <li title="Unit" @click="redirectToUnit">
       
        <div class="fa unitIcon" aria-hidden="true"></div>
        <span>Unit</span>
      </li>
      <li title="User Groups"  @click="redirectToUserGroups">
          <i class="fa fa-users"></i>
          <span>Roles</span>
      </li> -->
        <li @click="redirectToClient" :class="{ active: submenuListName === 'ClientList' }" :disabled="fncIsClientSelect && (fncIsClientSelect.isAssigned === -1 && fncIsClientSelect.functionState === 2)"
          v-if="fncIsClientSelect && (fncIsClientSelect.isAssigned === 1 || (fncIsClientSelect.isAssigned === -1 && fncIsClientSelect.functionState === 2))"
          title="Client">
          <a>
            <i class="fa clientIcon"></i>
            <span>Client</span>
          </a>
        </li>
        <li @click="redirectToProperty" :class="{ active: submenuListName == 'PropertyList' }" :disabled="fncIsPropertySelect && (fncIsPropertySelect.isAssigned === -1 && fncIsPropertySelect.functionState === 2)"
          v-if="fncIsPropertySelect && (fncIsPropertySelect.isAssigned === 1 || (fncIsPropertySelect.isAssigned === -1 && fncIsPropertySelect.functionState === 2))"
          title="Property">
          <a>
            <i class="fas fa-building" aria-hidden="true"></i>
            <span>Property</span>
          </a>
        </li>
        <li @click="redirectToUnitType" v-if="!isHostMode"  :class="{ active: submenuListName == 'UnitTypeList' }"
          title="Unit Type">
          <a>
            <i class="fa unitTypeIcon"></i>
            <span>Unit Type</span>
          </a>
        </li>
        <li @click="redirectToUnit" :class="{ active: submenuListName == 'UnitList' }"
          :disabled="fncIsUnitSelect && (fncIsUnitSelect.isAssigned === -1 && fncIsUnitSelect.functionState === 2)"
          v-if="fncIsUnitSelect && (fncIsUnitSelect.isAssigned === 1 || (fncIsUnitSelect.isAssigned === -1 && fncIsUnitSelect.functionState === 2))"
          title="Unit">
          <a>
            <i class="fa unitIcon"></i>
            <span>Unit</span>
          </a>
        </li>
        <!-- <li @click="redirectToUnit" :class="{ active: submenuListName == 'UnitList' }"  title="Unit">
          <a>
            <div class="fa unitIcon"></div>
            <span>Unit</span>
          </a>
        </li> -->
        <li @click="redirectToUserGroups" :class="{ active: submenuListName == 'RoleList' }" :disabled="fncIsRoleSelect && (fncIsRoleSelect.isAssigned === -1 && fncIsRoleSelect.functionState === 2)"
          v-if="fncIsRoleSelect && (fncIsRoleSelect.isAssigned === 1 || (fncIsRoleSelect.isAssigned === -1 && fncIsRoleSelect.functionState === 2))"
          title="Roles">
          <a>
            <i class="fa rolesIcon"></i>
            <span>Roles</span>
          </a>
        </li>
        <!-- <li @click="redirectToUserTypes"  :class="{ active: isBgUsers }" :disabled="fncIsUserList && (fncIsUserList.isAssigned === -1 && fncIsUserList.functionState === 2)" v-if="fncIsUserList && (fncIsUserList.isAssigned === 1 || (fncIsUserList.isAssigned === -1 && fncIsUserList.functionState === 2))" title="User">
           <a><i class="fa fa-user"></i><span>User</span></a>
      </li> -->
        <li @click="redirectToUserTypes" :class="{ active: submenuListName == 'Users' }" :disabled="fncIsUserSelect && (fncIsUserSelect.isAssigned === -1 && fncIsUserSelect.functionState === 2)"
          v-if="fncIsUserSelect && (fncIsUserSelect.isAssigned === 1 || (fncIsUserSelect.isAssigned === -1 && fncIsUserSelect.functionState === 2))"
          title="User">
          <a>
            <i class="fas fa-user-tie" style="font-size: 22px; margin-left: -2px;"></i>
            <span>User</span>
          </a>
        </li>

        <!-- <li @click="redirectToGuestprofiles" :class="{ active: submenuListName == 'GuestProfileList' }" title="Guest Profile">
          <a>
            <i class="fa guestIcon"></i>
            <span>Guest Profile</span>
          </a>
        </li> -->
        <li @click="redirectToListManagement" :class="{ active: submenuListName == 'listManagement' }" title="List Management" :disabled="fncIsListManagementView && (fncIsListManagementView.isAssigned === -1 && fncIsListManagementView.functionState === 2)"
          v-if="fncIsListManagementView && (fncIsListManagementView.isAssigned === 1 || (fncIsListManagementView.isAssigned === -1 && fncIsListManagementView.functionState === 2))">
          <!-- <li @click="redirectToListManagement" :class="{ active: isBgListManagement }" title="List Management"> -->

          <a>
            <i class="fas fa-list" style="margin-left: -1px;"></i>
            <span>List Management</span>
          </a>
        </li>
        <li @click="redirectToTaxPage" :class="{ active: submenuListName == 'tax' }" title="Tax" :disabled="fncIsTaxItemsView && (fncIsTaxItemsView.isAssigned === -1 && fncIsTaxItemsView.functionState === 2)"
          v-if="fncIsTaxItemsView && (fncIsTaxItemsView.isAssigned === 1 || (fncIsTaxItemsView.isAssigned === -1 && fncIsTaxItemsView.functionState === 2))">
          <a>
            <i class="fa taxIcon"></i>
            <span>Tax</span>
          </a>
        </li>

        <li @click="redirectToIntegrationPage" :class="{ active: submenuListName == 'IntegrationPage' }" title="Integrations">
          <a>
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1217.36 1173.26">
              <title>Integrations</title>
              <path d="M816.1,605.9c.41,104.49-81.9,188.08-185.51,188.39-104.81.32-189.3-83.87-188.68-188,.62-104.35,83.29-186.94,187.2-187.05C733.51,419.13,815.69,501.17,816.1,605.9Z"
                transform="translate(-12.23 -24.74)" />
              <path d="M735.32,375.78c29.31-49.58,57.34-97.83,86.34-145.5,7.58-12.46,9.31-21-.45-34.35-30-41.09-26-97.43,7.09-135,31.87-36.16,86-46.66,129.57-25.13,45,22.23,68,71.32,57.44,122.56-9.48,46.1-53.19,88.09-101.18,82.57-37.58-4.32-47,15.43-60.71,39-23.56,40.72-47.93,81-72.62,122.51Z"
                transform="translate(-12.23 -24.74)" />
              <path d="M381.78,663l17.16,49.11c-48.38,16.23-95.55,32.53-143.08,47.74-17.21,5.51-26.64,11.7-28.07,33.48-3.63,55.41-55.84,95.41-115,92.64C58.4,883.43,13,835.1,12.24,778.87,11.47,722.86,55.79,673.16,110,669c37.28-2.83,69,8.86,93.19,37.53,8,9.47,14.7,10.73,26,6.7,42.37-15.08,85.12-29.08,127.78-43.34C364.44,667.43,372.12,665.67,381.78,663Z"
                transform="translate(-12.23 -24.74)" />
              <path d="M877.79,657.91l5.45-52.46c37.46,3.68,74.17,6.9,110.76,11.05,15.86,1.8,25.49-1.5,34.36-17.31,25.56-45.55,79.44-64,128.07-47,47.11,16.49,78.31,65.83,72.46,114.57-6,49.79-45.09,90.48-92.73,96.46-52.89,6.63-102-22.52-117.66-72.61-4.83-15.48-12.46-20.69-26.87-21.94C954.1,665.46,916.62,661.63,877.79,657.91Z"
                transform="translate(-12.23 -24.74)" />
              <path d="M660.09,859l51.27-11.27c8.5,37.36,17.3,73.12,24.53,109.2,3,15.22,8.84,23.25,25.37,26.42,51.32,9.83,86.75,53.83,87.15,105.25.39,49.61-36,95.9-83.83,106.67-50.68,11.41-101.91-13.37-123.52-59.75-21.92-47-9.16-101.77,33.14-132.59,13-9.49,15.11-17.61,11.28-32.38C676,934.1,668.63,897.15,660.09,859Z"
                transform="translate(-12.23 -24.74)" />
              <path d="M464.19,413.61l-36,38.72C408.51,433.73,388.54,416,370,396.89c-10.09-10.4-18-11.59-31.81-5.63-57.88,24.92-122.82-4.48-143.7-63.4-21.23-59.9,11.64-125,72.91-141.25,40.88-10.81,78.26-2,107.93,29.48S412.5,285,398.88,325.23c-5.33,15.76-3.32,24.79,9,35.26C427.15,376.87,444.82,395.16,464.19,413.61Z"
                transform="translate(-12.23 -24.74)" />
            </svg>
            <span>Integrations</span>
          </a>
        </li>



        
        <li @click="redirectToRatePlan" :class="{ active: submenuListName == 'ratePlanList' }" title="RatePlan">
          <a>
           <!-- <i class="fa ratePlanIcon" aria-hidden="true"></i> -->
           <i class="fa rateplanTagIcon" aria-hidden="true"></i>
           <span>Rate Plan</span>
            </a>
          </li>
        <li @click="redirectToNotificationTemplates" :class="{ active: submenuListName == 'templatesList' }" title="Templates">
          <a>
            <i class="fa templatesIcon"></i>
            <span>Templates</span>
          </a>
        </li>
        <li @click="redirectToBotScreen" :class="{ active: submenuListName == 'BotsList' }" title="BotsList">
          <a>
            <i class="fa botsIcon"></i>
            <span>BotsList</span>
          </a>
        </li>
        <!-- <li @click="redirectToPaymentReports" :class="{ active: submenuListName == 'PaymentReports' }"
          title="Payment Reports">
          <a>
              <i class="fa dashboard-icon-left"></i>
            <span>Payment Reports</span>
          </a>
        </li> -->
        <!-- <li @click="redirectToBE" :class="{ active: submenuListName == 'bookingEngineList' }" title="Booking Engine">
        <a>
          <i class="fa">BE</i>
          <span>Booking Engine</span>
        </a>
      </li> -->

        <!-- <li @click="redirectToRestrictions" :class="{ active: submenuListName == 'RestrictionList' }" title="Restrictions">
          <a>
            <i class="fa restrictionsIcon" style="font-size: 26px;"></i>
            <span>Restrictions</span>
          </a>
        </li> -->
        <!-- <li @click="redirectToHouseKeepingStatus" :class="{ active: submenuListName == 'HouseKeepingStatus' }" title="Housekeeping">
          <a>
            <i class="fa broomStick"></i>
            <span>Housekeeping</span>
          </a>
        </li> -->
        <!-- <li @click="redirectToRatesOverride" :class="{ active: submenuListName == 'RateOverrideList' }" title="Rates Override">
          <a>
            <i class="fa ratesOverride" style="margin-left: -2px;"></i>
            <span>Rates Override</span>
          </a>
        </li> -->
        <!-- <li @click="redirectToRoomInventory" :class="{ active: submenuListName == 'RoomInventoryDetail' }" title="Unit Availability">
          <a>
            <i class="fas fa-file" style="margin-left: 2px;"></i>
            <span>Unit Availability</span>
          </a>
        </li> -->


        <!-- <li @click="redirectToHouseKeeping" :class="{ active: submenuListName == 'housekeeping' }" title="Housekeeping">
          <a>
            <i class="fa fa-home"></i>
            <span>Housekeeping</span>
          </a>
        </li> -->
        <!-- <li @click="redirectToledgerAccount"  :class="{ active: isBgledgerAccount }"  title="ledger Account">
  <a><i class="fa fa-line-chart"></i><span>ledgerAccount</span></a>
</li> -->




        <!-- <li title="Users"  @click="redirectToUserTypes" v-if="fncIsUserList && (fncIsUserList.isAssigned === 1 && fncIsUserList.functionState === 1) "> -->
        <!-- <li title="Users"  @click="redirectToUserTypes">
        <i class="fa fa-user"></i>
        <span>Users</span>
    </li> -->
      </ul>
      <!-- <li title="User Groups" v-if="isCurrentUserAdmin === true" @click="redirectToUserGroups" v-if="fncIsRoleList && (fncIsRoleList.isAssigned === 1 && fncIsRoleList.functionState === 1) " > -->
      <!-- <li title="User Groups"  @click="redirectToUserGroups" v-if="fncIsRoleList && (fncIsRoleList.isAssigned === 1 && fncIsRoleList.functionState === 1) " > -->

      <!-- <li title="Change Password" @click="redirectToChangePassword"><i class="fa fa-key"></i><span>Change Password</span></li> -->
      <!--<li title="Menu Groups" data-toggle="tooltip" data-placement="right" @click="redirectToMenuGroups"><i class="fa fa-cog"></i><span>Menu Groups</span></li>-->
    </div>

    <div @click="toggleSideBar" class="menuMask"></div>
  </div>
</div>